.classpath
.project
.settings
bin/
.vscode

.idea/
*.iml
*.ipr
*.iws

.gradle/
build/
*.DS_Store
.env

.excella-config-server/out/
.excella-config-server/build/

.excella-eureka-server/out/
.excella-eureka-server/build/

.excella-service-consumer/out/
.excella-service-consumer/build/

.excella-service-provider/out/
.excella-service-provider/build/